/* Container sizes */
$mob_heightHeader: 60px;


/* Theme colors */
$mainBackground_dark: #2e2c2c;
$mainBackground_light: #fafafa;

$primaryDark: #1d1b1a;
$primaryLight: white;
$orange: #fb8716;
$brightOrange: #f70303;
$lightPurple: #c7cefb;
$lightBlue: #96cff7;
$pink: #ff00c8;

$border-tDark: 1px solid #191817;
$border-tLight: 1px solid #e6e6e6;

/* faded menu background */
$popupBackground_tDark: #ffffff36;
$popupBackground_tLight: #00000096;

$boxShadow: 0 4px 12px 0 rgba(0, 0, 0, 0.34);